<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag :application, "https://kit.fontawesome.com/4067e9fc98.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar p-0">
        <a class="ml-3" href="#">

          <svg class='svg-logo' width="396" height="62" viewBox="0 0 396 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.7 22.2L37.1 27C33.8 23.2 29.6 21.4 24.5 21.4C19.9 21.4 16 23 12.9 26.1C9.79997 29.2 8.29998 33.1 8.29998 37.8C8.29998 42.5 9.79997 46.4 12.9 49.5C16 52.6 19.9 54.1 24.5 54.1C29.7 54.1 34 52.2 37.3 48.3L42.9 53.1C38.4 58.4 31.8 61.5 24.6 61.5C17.8 61.5 12 59.3 7.19998 54.8C2.49998 50.2 0.0999756 44.5 0.0999756 37.7C0.0999756 30.9 2.49998 25.2 7.19998 20.6C12 16 17.8 13.8 24.6 13.8C31.8 14 37.9 16.7 42.7 22.2V22.2Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M46.6 60.9V14.8H54.5V60.9H46.6Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M60.8 27.5H68.8V47C68.8 52 71.6 54.5 76.1 54.5C80.5 54.5 83.4 52 83.4 47V27.6H91.4V47.5C91.4 52.1 89.9 55.7 87 58.2C84.1 60.6 80.4 61.8 76 61.8C71.6 61.8 67.9 60.6 65.1 58.2C62.3 55.8 60.8 52.3 60.8 47.7V27.5V27.5Z"/>
            <path d="M97.7 60.9V14.8H105.6V32.4C106.7 29.2 110.8 26.8 116.3 26.8C121 26.8 125 28.5 128.1 31.8C131.3 35.1 132.9 39.2 132.9 44.2C132.9 49.2 131.3 53.3 128.1 56.6C124.9 59.9 121 61.6 116.3 61.6C110.8 61.6 106.8 59.3 105.6 56V60.8H97.7V60.9V60.9ZM122.2 51.5C124.1 49.6 125 47.1 125 44.2C125 41.3 124.1 38.8 122.2 36.9C121.295 35.9622 120.206 35.2208 119.002 34.7219C117.797 34.223 116.503 33.9773 115.2 34C112.4 34 109.9 35 107.9 36.9C106 38.8 105 41.3 105 44.2C105 47.1 106 49.6 107.9 51.5C109.9 53.4 112.3 54.4 115.2 54.4C118.1 54.4 120.4 53.4 122.2 51.5Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M137.9 60.9V14.8H145.8V32.2C147.3 29 151 26.9 155.5 26.9C163.2 26.9 167.7 32 167.7 40.3V60.9H159.8V41.4C159.8 36.8 157.4 34 153.1 34C148.8 34 145.8 37.2 145.8 41.7V60.9H137.9V60.9Z" />
            <path d="M172.2 44.2C172.2 39.2 174 35 177.5 31.6C181 28.2 185.3 26.5 190.4 26.5C195.5 26.5 199.8 28.2 203.3 31.6C206.8 35 208.6 39.2 208.6 44.2C208.6 49.2 206.8 53.4 203.3 56.8C201.601 58.4702 199.583 59.7823 197.367 60.6583C195.151 61.5344 192.782 61.9566 190.4 61.9C185.3 61.9 181 60.2 177.5 56.8C174 53.4 172.2 49.2 172.2 44.2V44.2ZM197.8 51.7C199.8 49.6 200.8 47.2 200.8 44.2C200.8 41.2 199.8 38.8 197.8 36.8C195.8 34.7 193.4 33.8 190.5 33.8C187.5 33.8 185.1 34.8 183.1 36.8C181.2 38.8 180.2 41.2 180.2 44.2C180.2 47.2 181.2 49.6 183.1 51.7C185.1 53.7 187.5 54.7 190.5 54.7C193.3 54.7 195.8 53.7 197.8 51.7Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M213.1 27.5H221.1V47C221.1 52 223.9 54.5 228.4 54.5C232.8 54.5 235.7 52 235.7 47V27.6H243.7V47.5C243.7 52.1 242.2 55.7 239.3 58.2C236.4 60.6 232.7 61.8 228.3 61.8C223.9 61.8 220.2 60.6 217.4 58.2C214.6 55.8 213.1 52.3 213.1 47.7V27.5ZM251.8 50.7C253.3 53.1 256.6 54.9 260.6 54.9C264.8 54.9 266.6 53.3 266.6 51.3C266.6 50.2 265.8 49.2 264.7 48.7C264 48.2 262.6 47.8 261.6 47.4C260.6 47.1 258.6 46.5 257.5 46C252.1 44.1 249.3 41.4 249.3 36.6C249.3 33.5 250.4 31.1 252.7 29.3C255 27.5 257.8 26.6 261.1 26.6C265.8 26.6 269.4 28.3 271.9 31.5L267.5 36.2C266 34.3 263.9 33.4 261 33.4C258.6 33.4 257 34.6 257 36.4C257 37.5 257.6 38.1 258.5 38.7C259 39 260.4 39.6 261.2 39.9C262.2 40.2 264 40.8 265.4 41.3C271.6 43.5 274.3 46.5 274.3 51.2C274.3 57.4 269.7 61.8 260.6 61.8C253.9 61.8 249 59.2 246.8 55L251.8 50.7V50.7Z" />
            <path d="M276.6 44.2C276.6 38.9 278.3 34.7 281.5 31.4C284.8 28.2 289 26.6 294.1 26.6C298.9 26.6 302.9 28.2 305.9 31.4C309 34.6 310.5 38.6 310.5 43.4C310.5 44.4 310.4 45.3 310.4 46.2H284.5C284.8 51.5 288.7 54.9 294.6 54.9C298 54.9 301 53.6 303.6 51.1L308.4 55.7C304.6 59.7 300 61.7 294.4 61.7C289.2 61.7 284.9 60.1 281.6 57C278.4 53.9 276.7 49.7 276.7 44.5V44.2H276.6V44.2ZM302.5 40.6C302.5 38.6 301.6 36.9 300 35.5C298.388 34.0375 296.276 33.25 294.1 33.3C291.7 33.3 289.5 34 287.7 35.4C286.857 36.0018 286.153 36.7774 285.636 37.6744C285.118 38.5715 284.799 39.5691 284.7 40.6H302.5V40.6Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M322.6 50.3C321.473 50.3 320.371 50.6343 319.433 51.2606C318.496 51.887 317.765 52.7772 317.334 53.8187C316.902 54.8602 316.789 56.0063 317.009 57.112C317.229 58.2177 317.772 59.2334 318.569 60.0305C319.367 60.8277 320.382 61.3705 321.488 61.5905C322.594 61.8104 323.74 61.6975 324.781 61.2661C325.823 60.8347 326.713 60.1041 327.339 59.1668C327.966 58.2294 328.3 57.1274 328.3 56C328.4 52.8 325.8 50.3 322.6 50.3V50.3Z" />
            <path d="M393.3 0.100006L357.1 11.6V0.200006L318.1 12.6V45.7L351.7 35V46.4L395.9 32.3L383.9 20.6L393.3 0.100006ZM351.8 29.4L323.6 38.4V16.7L351.8 7.70001V29.4ZM386 29.8L357.2 39V17.3L383.8 8.80001L377.7 21.6L386 29.8V29.8Z" />
          </svg>
        </a>

        <div class="right-links">
          <%= link_to 'New Post', new_post_path, class: 'btn btn-light post-btn' %>
          <% if user_signed_in?  %>
           <%= link_to current_user.fname + ' ' + current_user.lname, user_path(current_user), class: 'btn text-light' %>
            <%= link_to 'Logout', sessions_path, method: :delete, class: 'btn text-light' %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn text-light' %>
            <%= link_to 'Log in',new_user_session_path, class: 'btn text-light' %>
          <% end %>
        </div>
      </nav>
    </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
